
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Add these new styles */
img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

body.scrolling img {
  filter: grayscale(0%);
}

/* Footer styles */
footer {
  width: 100%;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #000000;
}

/* Social Media Card styles */
.social-media-github {
  background: linear-gradient(to bottom, #333333, #000000);
}

.social-media-linkedin {
  background: linear-gradient(to bottom, #0077B5, #0A66C2);
}

.social-media-instagram {
  background: linear-gradient(to right, #fd5949, #d6249f, #285AEB);
}

.social-media-gmail {
  background: linear-gradient(to right, #EA4335, #FBBC05, #34A853, #4285F4);
}
